<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ContentsMapper">

	
	<!-- id 속성은 DAO 의 메소드와 같아야 한다. 여기의 boardVO 는 mybatis-confg.xml 에 Alias 되어 
		있습니다. -->
	<select id="selectContentsAll" resultMap="contents">
		<!-- select CONTENTSID,NATIONID,OTTID,GRADEID,CLASSID,CONTENTSTITLE,CONTENTSSUMMARY, 
			CONTENTSYEARS,CONTENTSSEASON,CONTENTSEPISODE,CONTENTSSCORE,CONTENTSDURATION 
			from contents_t where CONTENTSID = #{CONTENTSID} -->
			
			
			<![CDATA[SELECT * FROM(                    
			SELECT * FROM contents_t ORDER BY contentsscore DESC)WHERE ROWNUM<5]]>
			
	</select>
	
	<resultMap type="org.zerock.domain.ContentsVO" id="contents">
        		<result property="contentsid" column="contentsid"/>
        		<result property="nationid"  column="nationid"/>
        		<result property="ottid"  column="ottid"/>
        		<result property="gradeid"  column="gradeid"/>
        		<result property="classid"  column="contnetsclassid"/>
        		<result property="title"  column="contnetstitle"/>
        		<result property="summary"  column="contnetssummary"/>
        		<result property="years"  column="contnetsyears"/>
        		<result property="season"  column="contnetsseason"/>
        		<result property="episode"  column="contnetsepisode"/>
        		<result property="years"  column="contnetsscore"/>
        		<result property="duration"  column="contnetsduration"/>     		
        		
	</resultMap>
</mapper>
