<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.MemberMapper">

	<!-- 회원가입 -->

	<insert id="register">
		<!-- INSERT INTO USER_T(USERNUM,USERID,USEREMAIL,USERPASSWORD) VALUES(USER_T_S.nextval,'쿠쿠','kuku@naver.com','1111') -->


		INSERT INTO USER_T( USERNUM
		, USERID
		, USEREMAIL
		, USERPASSWORD )
		VALUES(
		USER_T_S.nextval
		, #{userid}
		, #{useremail}
		, #{userpassword})

	</insert>
	<!-- INSERT into user_t(useremail, userid, userpassword) VALUES (#{useremail}, 
		#{userid}, #{userpassword}) -->



	<!-- 로그인 -->
	<!-- <select id="login" resultType="kr.co.vo.MemberVO"> SELECT USERID, USERPASS, 
		USERNAME FROM MP_MEMBER WHERE USERID = #{userId} AND USERPASS = #{userPass} 
		</select> -->

	<!-- 회원정보 수정 -->
	<update id="memberUpdate"> UPDATE USER_T SET userpassword = #{repassword}
		WHERE useremail = #{useremail} and userpassword = #{userpassword}
	</update>

	<!-- 회원탈퇴 -->
	<delete id="memberDelete"> DELETE FROM USER_T WHERE useremail = #{useremail}
		AND userpassword = #{userpassword}
	</delete>

	<!-- 패스워드 체크 -->
	<select id="passChk" resultType="int"> SELECT COUNT(*) FROM
		USER_T
		WHERE useremail = #{useremail} AND userpassword = #{userpassword}
	</select>


	<!-- 아이디 중복 체크 -->
	<select id="idChk" resultType="int"> SELECT COUNT(*)
		FROM USER_T WHERE
		userid = #{userid}
	</select>
	
	<!-- 이메일 중복 체크 -->
	<select id="emailChk" resultType="int"> SELECT COUNT(*)
		FROM USER_T WHERE
		useremail = #{useremail}
	</select>

</mapper>
